# Ignore Gradle project-specific cache directory
.gradle

# Ignore idea direactory
.idea/

# Ignore Gradle build output directory
build

# Ignore vscode directory
.vscode/

# Ignore .project
.project

# Ignore bin directory
bin/

