.root {
    -fx-background-color: #FFFFFF;
}
#Hanamura{
    -fx-background-color: #CDCDB4;
}
#Dorado{
    -fx-background-color: #CDCDB4;
}
#Volskaya{
    -fx-background-color: #CDCDB4;
}
#Junkertown{
    -fx-background-color: #CDCDB4;
}
#Ilios{
    -fx-background-color: #CDCDB4;
}
#Hollywood{
    -fx-background-color: #CDCDB4;
}
#Hanamura:hover{
    -fx-background-color: #8FBC8F;
}
#Dorado:hover{
    -fx-background-color: #8FBC8F;
}
#Volskaya:hover{
    -fx-background-color: #8FBC8F;
}
#Junkertown:hover{
    -fx-background-color: #8FBC8F;
}
#Ilios:hover{
    -fx-background-color: #8FBC8F;
}
#Hollywood:hover
{
    -fx-background-color: #8FBC8F;
}
#2p1:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#2p2:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#2p3:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#2p4:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#2p5:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#2p6:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p1:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p2:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p3:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p4:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p5:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p6:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p7:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p8:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#3p9:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p1:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p2:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p3:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p4:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p5:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p6:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p7:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#4p8:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p1:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p2:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p3:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p4:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p5:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p6:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p7:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p8:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p9:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#5p10:hover
{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.24),25.0,0,0,0 );
    -fx-cursor: hand;
}
#register
{
    -fx-background-color: #d4b331;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
}
#login
{
    -fx-background-color: #8FBC8F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
}
#register:hover
{
    -fx-background-color: #a67503;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
    -fx-cursor: hand;
}
#login:hover
{
    -fx-background-color: #75967e;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
    -fx-cursor: hand;
}
#previousgame
{
    -fx-background-color: #707db3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
}
#newgame
{
    -fx-background-color: #8FBC8F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
}
#previousgame:hover
{
    -fx-background-color: #5a6db8;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
    -fx-cursor: hand;
}
#newgame:hover
{
    -fx-background-color: #6b966b;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);
    -fx-cursor: hand;
}

#confirmRoom
{
    -fx-background-color: #8FBC8F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
}
#confirmRoom:hover
{
    -fx-background-color: #6b966b;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);
    -fx-cursor: hand;
}

#submit
{
    -fx-background-color: #8FBC8F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 16px;
}
#submit:hover
{
    -fx-background-color: #6b966b;
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);
    -fx-cursor: hand;
}

.radio-button .radio {
  -fx-border-width: 1px;
  -fx-border-color: #000;
  -fx-background-color: white;
  -fx-background-image: null;
  -fx-border-radius: 15px;
  -fx-padding: 4px;
}
.radio-button .radio:selected {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button -radio:armed {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button -radio:determinate {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button -radio:indeterminate {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button .dot {
  -fx-background-radius: 15px;
  -fx-padding: 8px;
  
}
.radio-button:selected .radio .dot {
  -fx-background-color: #ed9d13;
  -fx-background-insets: 0;
}

#tech
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
#upgrade
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
#attack
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
#move
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
#research
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
#cloak
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
#done
{
  -fx-background-color: #d4b331;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 16px;
}

#tech:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}
#upgrade:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}
#attack:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}
#move:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}
#research:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}
#cloak:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}
#done:hover
{
  -fx-background-color: #a67503;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;  
}

#continue
{
  -fx-background-color: #d4b331;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 16px;
}
#exit
{
  -fx-background-color: #707db3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

#continue:hover
{
  -fx-background-color: #a67503;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;  
}
#exit:hover
{
  -fx-background-color: #5a6db8;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;
}

#confirm
{
  -fx-background-color: #d4b331;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-background-radius: 16px;
}
#confirm:hover
{
  -fx-background-color: #a67503;
  -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);  
  -fx-cursor: hand;  
}

/* // Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: #b1d171; }
/* // Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: #e3c491; }
/* // Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: white; }
/* // Text color of focused item in the list */
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
/* // Background color of the control itself */
.choice-box {
  -fx-background-color: #b1d171;
  -fx-mark-color: #faf8f5; 
  /* // arrow color */
}
/* // Selected item text color on the control itself */
.choice-box > .label { -fx-text-fill: white; }