#Hanamura{
    -fx-background-color: #CDCDB4;
}
#Dorado{
    -fx-background-color: #CDCDB4;
}
#Volskaya{
    -fx-background-color: #CDCDB4;
}
#Junkertown{
    -fx-background-color: #CDCDB4;
}
#Ilios{
    -fx-background-color: #CDCDB4;
}
#Hollywood{
    -fx-background-color: #CDCDB4;
}
#Hanamura:hover{
    -fx-background-color: #8FBC8F;
}
#Dorado:hover{
    -fx-background-color: #8FBC8F;
}
#Volskaya:hover{
    -fx-background-color: #8FBC8F;
}
#Junkertown:hover{
    -fx-background-color: #8FBC8F;
}
#Ilios:hover{
    -fx-background-color: #8FBC8F;
}
#Hollywood:hover
{
    -fx-background-color: #8FBC8F;
}
